
.cards {
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .card {
    width: 270px;
    height: 350px;
    display:block ;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px 0 rgba(11, 11, 11, 0.926);
  }
  
  .card__img {
    width: 100px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
  }
  